/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');

.timmana-regular {
  font-family: "Timmana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

/* Global Variables */
:root {
  --col-blue1: rgb(79 106 134);
  --col-blue2: rgb(8 79 107);
  --col-grey1: rgb(230 230 230);
  --col-grey2: rgb(200 200 192);
  --col-gold1: rgb(209 170 40);
  --col-text1: white;
  --foot-height: 100px;
  --nav-height: 100px;
}

html {
  overflow: scroll;
}

/* Navigation Section Styling */
nav {
  /* layout settings */
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: var(--nav-height);
  /* colors */
  background-color: white;
  color: black;
  /* display settings */
  display: flex;
}

.navlinks {
  /* display settings */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlinks > ul > .active {
  /* text settings */
  text-decoration: underline;
}

.navlinks > ul {
  /* display settings */
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  /* text settings */
}

.navlinks > ul > a {
  /* colors */
  color: black;
  /* text settings */
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
}

.navlogo {
  /* layout settings */
  width: 300px;
  height: 100%;
  /* display settings */
  display: flex;
}

.logo {
  /* layout settings */
  height: 100%;
}

.navlogo > p {
  /* text settings */
  text-align: center;
}

/* Main Section Styling */
main {
  /* display settings */
  position: sticky;
  /* layout settings */
  min-height: calc(100vh - var(--foot-height) - var(--nav-height));
}

main > .section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Hero Text Section Styling */
.hero {
  /* display settings */
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* layout settings */
  width: 100%;
  height: 340px;
  /* colors */
  background-color: var(--col-blue2);
  color: var(--col-text1);
  /* text settings */
  font-family: Timmana, sans-serif;
  font-size: 2rem;
}

.hero div {
  font-family: "Timmana", Verdana, Tahoma, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
}

.hero > #phone {
  /* layout setting */
  margin: 40px 0 0 0;
  /* colors */
  color: var(--col-gold1);
  /* text settings */
  font-size: 3rem;
}

/* Statement Section Styling */
.statement {
  /* colors */
  background-color: var(--col-grey1);
  /* display settings */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* layout settings */
}

.statement > div {
  /* layout settings */
  width: 60%;
  padding: 60px 0;
  /* text settings */
  font-size: 1.4rem;
}

.statement p {
  padding: 40px 0;
}

.statement li {
  padding: 8px 0;
}

/* Footer Section Styling */
footer {
  /* colors */
  background-color: var(--col-blue2);
  color: var(--col-text1);
  /* layout settings */
  height: var(--foot-height);
  /* display settings */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text settings */
  font-size: 1.2rem;
}

footer a {
  /* text settings */
  font-size: 1rem;
  /* colors */
  color: var(--col-text1);
  /* layout settings */
  margin: 8px 0 0 0;
}

/* Default Styling */
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
